.navbar{
  padding-top: 0% !important;
  padding-bottom: 0% !important; 
  opacity: 0.7;
}
.logo{
    color: black;
    text-transform: uppercase;
}

.navliststyle{
  padding:0 0.5rem;
}
.navliststylelink{
  color: white !important;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 2rem;
}
.navliststyle:hover{
  background-color: rgb(78, 74, 74);
  border-radius: 5px;

}
.offback{
  width: 50% !important;
  background-color: gray !important;
  padding-right: 0%;
}
.navtitle{
  background-color: rgb(39, 37, 37);
  height: 3.5rem;
  color: white;
  text-transform: uppercase;
}
.navcontent{
  width: 100%;
}
.navul{
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  padding-right: 0%;
}
.navlist{
  margin-bottom: 10px;
}
.navlist > .navlink{
  
  background-color: rgb(39, 37, 37);
  color: white !important;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.2rem 0.2rem;
  border-radius: 2rem;
}
.navlink:hover{
  background-color: white;
  color: black !important;
}

.navdrops{
  display: none;
  position: absolute;
  border-radius: 1rem;
  z-index: 100;
}

.dropitem:hover > .navdrops{
  display: flex ;
}

.developerpicture{
  width: 40px;
  height: 40px;
  
  border-radius: 50px;
}
.developerpicture1{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.developertext1{
  color: cadetblue;
  font-size: 12px !important;
}
.closebtn{
  background-color: red !important;
}

@media (max-width:765px) {
.navbar{
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; 
  opacity: 1;
}  
}
